


*{
    /* box-sizing: border-box; */
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   /* overflow: hidden; */
}
/* ============================== */
/* Start header */

.headr{
    /* padding-left: 30px;
    padding-right: 20px; */
    background: linear-gradient(to top  right, rgb(248, 236, 237), rgb(234, 191, 192), rgb(225, 161, 162), rgb(217, 135, 137));
    width: 101%;
    height: 113vh;
}
@media(max-width:767px){
    .headr{
        width: 101%;
        height: 137vh;
    }
}
.img-headr{
    width: 90%;
    height: 53px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: auto;
}
@media(max-width:767px){
    .img-headr{
        padding-left: 0px;
    }
    .niuk{
        display: none;
    }
}
 .img-headr img{
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
   
}

.img-headr h2{
    color: white;
    font-size: 23px;
    position: relative;
    left: 45px;
    top: 50%;
    transform: translatey(-50%);
}

nav{
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translatez(-50%);
}

@media(max-width:767px){
    nav{
        left: 72px;
        top: 50%;
        transform: translateY(-50%);
    }
}
nav ul li {
    display: inline-block;
    text-decoration: none;
    padding: 0 12px;
}
@media(max-width:767px){
    nav ul li{
        padding:0 5px;
    }
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav .icon{
    color: white;
    padding:0 12px;
} 
@media(max-width:767px){
    nav .icon{
        display:none;
    }
} 

/* ========================================== */


.nike .containe{
    
}
.nike .containe .gred{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
}
.nike .containe .box-text{
position: relative;
}
.nike .containe .box-text h2{
    color: white;
    position: absolute;
    text-transform: uppercase;
    top: 170px;
    left: 55px;
}
@media(max-width:767px){
   
}
.nike .containe .box-text h2 span{
    color:#000;
}
.nike .containe .box-text button{
    background-color: #000;
    color: white;
    position: absolute;
    top: 269px;
    left: 55px;
    border: none;
    padding: 5px 15px;
}
@media(max-width:767px){
    .nike .containe .box-text button{
 
    }
}

@media(max-width:767px){
.box-text {
    margin: 210px 0 0 0;
}
}

.box-text .star img {
    width:50px;
    position: absolute;
    left: 381px;
    top: 100px; 
}
@media(max-width:767px){
    .box-text .star img {
        position: absolute;
        left: 140px;
        top: 339px;
    }
}

.box-text .nike {
    position: absolute;
    top: 297px;
    left: 224px;
}
.nike .containe .box-text .niuk img{
    width: 226px;
}
@media(max-width:767px){
    .box-text .nike {
        top: 261px;
        left: 77px;
    }
    .nike .containe .box-text .niuk img{
        width: 191px;
        left: 119px;
    }
}

.nike .containe .box-text .boxs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    position: relative;
    top: 450px;
    left: 65px;
}
@media(max-width:767px){
    .nike .containe .box-text .boxs{
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        top: 403px;
        left: 10px;
    }
} 

 .box-text .boxs .box img{
    width: 100px;
    position: relative;
    top: 46px;
    left: 28px;
}
@media(max-width:767px){
    .box-text .boxs .box img{
     left: 10px;
    }
}
.box-text .boxs .box h4 {
    width: 141px;
    height: 69px;
    text-align: center;
    background-color: rgb(0, 0, 0, 30%);
    padding: 24px 0 0 0;
}
@media(max-width:767px){
    .box-text .boxs .box h4{
        width: 89px;
    }
}
.box-img .img-red {
    position: absolute;
    top: 200px;
    right: 0;

    
}
.box-img .img-red img{
    width: 525px;
  position: relative;
    text-align: center;
    z-index: 4;
}
.box-img .img-red::after{
    content: "";
    background-color: transparent;
    position: absolute;
    width: 309px;
    height: 463px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    left: 153px;
    top: -47px;
    z-index: 3;
}
.box-img .img-red .star{
    position: absolute;
    top: 288px;
    right: 216px;
}
.box-img .img-red .star img{
    width: 50px;
    position: absolute;
}
@media(max-width:767px){
    .box-img .img-red{
        position: absolute;
    }
    .box-img .img-red img{
        left: -26px;
        bottom: 53px;
        width: 301px;
    }
    .box-img .img-red::after{
        content: "";
        left: 49px;
        top: -119px;
        height: 307px;
        width: 199px;
    }
    .box-img .img-red .star img {
       
    position: absolute;
    top: -221px;
    left: 63px;
    }
}
 

/* End header */
/* ============================================= */
/* Start About */
.about{
    display: grid;
   grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
   margin: 50px 2px 50px;
}
@media(min-width:980px){
    .about{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
         margin: 50px 20px;
         gap: 5px;
    }
}
.about .about-text{
    position: relative;
    margin: 0 0 0 20px;
}
@media(max-width:767px){
    .about .about-text{
        /* display: none; */
    }
}
.about .about-text h2{
    margin: 0 0 14px;
    font-weight: 800;
}

.about .about-text p{
    margin: 0 0 12px;
}
.about .about-text .east i {
    justify-content: center;
    background-color: #fcf6de;
    font-size: 33px;
    width: 45px;
    height: 45px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    margin: 0 0 20px;
}
.about .about-text .east h5{
    position: absolute;
    left: 56px;
    top: 143px;
}

.about .about-text .Long i {
    justify-content: center;
    background-color: #fcf6de;
    font-size: 33px;
    width: 45px;
    height: 45px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    margin: 0 0 20px;
}
.about .about-text .Long h5{
    position: absolute;
    left: 56px;
    top: 208px;
}
.about .about-text .Bast i {
    justify-content: center;
    background-color: #fcf6de;
    font-size: 33px;
    width: 45px;
    height: 45px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    margin: 0 0 20px;
}
.about .about-text .Bast h5{
    position: absolute;
    left: 56px;
    top: 274px;
}
.about .about-img{
    width: 412px;
    height: 331.36px;
    position: relative;
}
.about .about-img img{
    width: 344px;
    position: absolute;
    text-align: center;
  
}
.about .about-img::after{
    content: "";
    background-color: #85984e;
    width: 210px;
    height: 210px;
    position: absolute;
    border-radius: 50%;
    right: 106px;
    z-index: -1;
    bottom: 42px;
    text-align: center;
  
   
}
@media(max-width:767px){
    .about .about-img{
        width: 373px;
        height: 331.36px;
        position: relative;
    }
    .about .about-img img{
        left: 42%;
        transform: translate(-197px, 10px);
    }
    .about .about-img::after{
        left: 42%;
        transform: translatex(-50%);
    }
}

/* End About */
/* =================================== */
/* stat our*/
.continer{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
}
.continer h2{
    text-align: center;
    margin-bottom: 35px;
}
.continer .our-gred{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    margin: 102px 0 0 26px;
    
}
.continer .our-box {
    display: grid;
    justify-content: center;
    position: relative;
    width:242.75px;
    height:99.25px;
    border:2px solid #000;
    margin: 88px 0 0 0;
    
}
.continer .our-box  img{
    width:135px;
    position: absolute;
    bottom: 36px;
    right: 75px;
}
.continer .our-box .our-text {
    margin: 35px 0 0 0;
}
.our-box .our-text span{

} 
 .our-box .our-text .span-1{
 
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: red;
    margin: 0 3px 0 0;
    border-radius:50% ;
    left: 45%;
 }
 .our-box .our-text .span-2{
   
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: blue;
    left: 50%;
    border-radius: 50%;
    
}
 .our-box .our-text .span-3{
   
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: green;
    left: 55%;
    border-radius:50% ;
   
}
 .our-box .our-text .span-4{
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #000;
    left: 40%;
    border-radius:50% ;
}
.continer .our-box p{
    margin: 13px 0 0;
    color: #fff269;
    text-align: center;
}
.continer .our-box 
/* end our */
/* ============================================ */
/* start provide */
.provide-text p{
    
}
.provide-cestion{
    width: 100%;
    min-height: 250px;
    background-color: #e4abac;
      position: relative; 
      margin: 0 0 30px 0;
}
@media(max-width:767px){
    .provide-cestion{
        width: 376px; 
    }
}
.provide-f{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
    margin: 102px 0 0 26px;
  
}
.provide-img {
    position: relative;
  
}
@media(max-width:767px){
    .provide-img{
        top: -15px;
        height: 304px;
        width: 300px;
    }
}
.provide-img .niuk2{
    position: absolute;
    top: 60px;
    z-index: 2;
}
.provide-img img{
    width: 200px;


  
}
.provide-img .back{
    width:100px;
    position: absolute;
    z-index: 1;
    top: 26px;
}
.provide-img .back img{
    width: 200px;

}


.provide-text h2{
    color: #fff;
    margin: 28px 0 0 0;
    text-align: start;
    font-size: 30px;
}
.provide-text p{
    color: #fff;
    position: absolute;
    top: 109px;
}
.provide-text button{
    color: #fff;
    background-color: #000;
    border: none;
    position: absolute;
    bottom: 23px;
    padding: 7px 20px;
}
@media(max-width:767px){
    .provide-text h2{
        bottom: 223px;
        position: absolute;
    }
    .provide-text p{
        top: -20px;
        width: 260px;
        height: 145px;
        position: relative;
    }

}


/* End provide */  
/* Start see */
.see .continer h2{
    margin: 57px 0 33px;
}


.see .img-box  {
    margin: 0 0 0 23px;
}


.see .img-box  img {
    width: 651px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
@media(max-width:767px){
    .see .img-box  img{
        width: 258px;
    }
}



/* End see */
/* Start for */
.for{
    text-align: center;
    position: relative;
    margin: 0 0 80px 0;
}
.for p{

    margin: auto;
}
.for h2{
    color:#000;
}

.for .search{
    width: 229px;
    position: relative;
    background-color: #e4abac;
    top: 45px;
    padding: 10px 0px;
    right: 10px;
}
.for  .search span {
   color:white;
    left: 50px;
    position: relative;
    background-color: #000;
    padding: 10px;
}

/* End for */
/* Star fotar */
.foter{
    width: 100%;
    min-height: 250px;
    background-color: #e4abac;
      position: relative; 
      margin: 0 0 0 0;
}
.g-fot{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.g-fot .fot-icon .ni{
    position: relative;
    margin: 20px 0 0 0;
}
.g-fot .fot-icon .ni p{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 85px;

}

.g-fot .fot-icon img{
width:100px;
}

.g-fot .fot-icon ul{
    list-style: none;
    position: absolute;
    bottom: 28px;
}
.g-fot .fot-icon ul li{
    display: inline-block;
   
}
.g-fot .fot-icon ul li i{
    padding: 0 5px;
}
@media(max-width:767px){
    .g-fot .fot-icon ul {
    top: 52px;
    right: 27px;
    }
}
.g-fot .com{
 
    text-align: center;
}
.g-fot .com .yu{
    margin: 10px 0 0 0;
    color: #777;
}
/* End fotar */
